<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>Latipium</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="{{ page.relative }}/../node_modules/materialize-css/dist/css/materialize.min.css" />
        <link rel="stylesheet" href="{{ page.relative }}/css/main.css" />
        <link rel="stylesheet" href="{{ page.relative }}/css/play.css" />

        <script>
            window.Hammer = require("hammerjs");
            window.jQuery = window.$ = require("jquery");
            window.turbolinks = require("turbolinks");
            window.angular = require("angular");
            window.launcher = true;

            setTimeout(function() {
                window.dispatchEvent(new Event("turbolinks:load"));
            }, 0);
        </script>
        <script src="{{ page.relative }}/../node_modules/materialize-css/dist/js/materialize.min.js"></script>
        <script>
            window.Com = require("{{ page.relative }}/js/main.js").root;
        </script>
    </head>
    <body>
        {{ content }}
    </body>
</html>