<div class="container">
    <span class="post-list">
        {% assign posts = site.posts | where: "type", page.type %}
        {% for post in posts limit: 10 %}
            {% assign postdesc = post %}
            {% include postdesc.html %}
        {% endfor %}
    </span>
    <div class="row center-align">
        <div class="infinite-spinner preloader-wrapper active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
