---
permalink: /play/launch.html
navgroup: play/launch
layout: launcher
customHeader: <a id="logo-container" class="brand-logo center">Latipium Launcher</a><ul class="left"><li><a onclick="history.back()"><i class="material-icons">arrow_back</i></a></li></ul><ul class="right"><li><a href="#options"><i class="material-icons">settings</i></a></li></ul>
excerpt: Home page of the Latipium launcher
robotIgnore: true
relative: ..
launcher: true
---
<span class="angular-wrapper">
    <span  ng-controller="header">
        {% include header.html %}
    </span>
    <main>
        <header class="placeholder">
            <nav></nav>
        </header>
        {% include launch.html %}
    </main>
    <footer class="page-footer light-blue darken-1{% if page.navgroup == "play/launch" %} play{% endif %}">
        {% include footer.html %}
    </footer>
</span>
