---
layout: default
permalink: /dev/mods/my/
navgroup: dev/mods
excerpt: Lists all of the modules you have permission to. Additionally, this page allows you to change the settings of your modules.
robotIgnore: true
---
<div class="container" ng-controller="myMods">
    <div class="row center-align" ng-hide="loaded">
        <div class="infinite-spinner preloader-wrapper active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="loaded">
        <div class="col s11">
            <ul class="tabs my-mods-tabs">
                <li class="tab col" ng-repeat="mod in mods">
                    <a class="light-blue-text text-lighten-1" ng-bind="mod.Id" ng-click="location.hash = '#' + $parent.safeId(mod.Id)" href="#{{ "$parent.safeId(mod.Id)" | angular }}"></a>
                </li>
            </ul>
        </div>
        <div class="col s1 valign-wrapper height-48">
            <a class="valign" href="{{ "/dev/mods/new" | prepend: site.baseurl }}">
                <i class="material-icons">
                    add_circle
                </i>
            </a>
        </div>
        <div class="col s12" id="{{ "$parent.safeId(mod.Id)" | angular }}" ng-repeat="mod in mods">
            <span ng-show="mod.Published">
                {% include modInfo.html %}
            </span>
            <span ng-hide="mod.Published">
                <h3 ng-bind="mod.Id"></h3>
                <p>
                    This module has not yet been published!
                    You will not see any content here, and other users will not even be able to see this page until you publish a version of your module.
                    If you need help with your module development, check out the <a href="{{ "/tutorials/dev" | prepend: site.baseurl }}">development tutorials</a>.
                    Once you finish your module, you can <a href="{{ "/dev/mods/publish" | prepend: site.baseurl }}">publish your module to Latipium</a>.
                </p>
            </span>
        </div>
    </div>
</div>
